/*HTMLCSSradio怎么文字居中
    一、当文字14px左右大小时，对齐良好
　　二、当文字12px左右大小时，文字的位置就偏下了，火狐浏览器和谷歌浏览器下尤为明显，有以下几种方法解决这问题：
    1、单（复）选框设置vertical-align:text-bottom; margin-bottom:2px;*margin-bottom:-2px;
　　2、单（复）选框设置height:13px; vertical-align:text-top; margin-top:0;
　　3、单（复）选框设置height:15px; vertical-align:bottom; margin-bottom:3px;margin-top:-1px;
　　4、单（复）选框设置height:14px; vertical-align:top;样式后的表现，chrome谷歌浏览器下文字稍微偏上
　　5、单（复）选框设置vertical-align:middle; margin-top:-2px; margin-bottom:1px;
    注意: 主要设置 vertical-align属性
*/






